.images {
    position: relative;
}

.blurred-image {
    min-width:100%;
    filter: blur(5px);
    opacity: 20%;
    height: 150px;
}

.details-image {
    height: 150px;
    max-width: 100px;
    position: absolute;
}

.details-paragraph {
    font-size: 12px;
}

.details-title {
    font-size: 14px;
}

@media only screen and (min-width: 900px) {
    .blurred-image {
        opacity: 20%;
        height: 300px;
    }

    .details-image {
        height: 300px;
        max-width: 200px;
    }

    .details-title {
        font-size: 1.5em;
    }
}
