.wrapper {
    background-color: rgb(215, 226, 230);
}

.app-container {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 80vw;
    height: 100vh;
}

.header {
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    float: left;
    height:80px;
}

.searchbar-container {
    width: 100%;
}

.list-details-container {
    height:100vh;
    max-height: 90vh;
    display: flex;
}

.list-container {
    padding-top: 5%;
    background-color: white;
}

.details-container {
    padding: 5% 15px 0 50px;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif, Arial;
    background-color: white;
    width: 100%;
}