.wrapper {
    background-color: rgb(215, 226, 230);
}

.app-container {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    height: 45px;
    width: 50px;
    float: left;

}

.searchbar-container {
    width: 100%;
}

.list-details-container {
    height:100vh;
    max-height: 90vh;
    display: flex;
}

.list-container {
    padding-top: 5%;
    background-color: white;
}

.details-container {
    padding: 5% 15px 0 50px;
    font-size: 1.5em;
    font-family: Helvetica, sans-serif, Arial;
    background-color: white;
    width: 100%;
}

@media only screen and (min-width: 900px) {
    .logo {
        height: 80px;
        width: 120px;
    }

    .app-container {
        margin-left: 20%;
        margin-right: 20%;
        max-width: 80vw;
        height: 100vh;
    }
}