.fixed-left {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 9999;
    width: 100%;
    
  }

.fixed-right {
    position: fixed;
    top: 10px;
    right: 0;
    width: 50%;
}

.app-container {
    display: block;
}

.movie-list {
    width: 50%;
    float: left;
    padding-top: 5%;
}