.movie-title:hover {
    color: #0000EE;
}

.bold-text {
    font-weight: bold;
}

.list-image {
    max-height: 150px;
    padding-right: 30px;
    padding-left: 10px;
    max-width: 100px;
}

.container {
    border-style: solid;
    border-radius: 15px;
    border-color: rgba(153, 217, 234, 0.466);
    padding: 5px;
    background-color: rgba(215, 226, 230, 0.432);
    margin-bottom: 5px;
    height: 100px;
}

.movie-content {
    display: flex;
    flex-direction: row;
}

.movie-list {
    height: 84vh;
    overflow-y: auto;
    width: 380px;
    padding-right: 10px;
    padding-left: 10px;
}